---
---
@import"{{site.theme}}";

.pinkPara{color:pink;}

.imgScroll {
float:left; 
margin-right:10px;
margin-bottom: 10px; 
border:2px solid green;
width:70%
vertical-align;
}

.page-header {
    color: #b0a59f;
    text-align: center;
    background-color: #a80808;
    background-image: linear-gradient(120deg, #de7115, #0c0207);
}
